.sideNavContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1rem 0.75rem;
}

.logoLink {
  margin-bottom: 0.5rem;
  display: flex;
  height: 5rem;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 0.375rem;
  background-color: #2563eb; /* Tailwind blue-600 */
  padding: 1rem;
}

.logoContainer {
  width: 8rem;
  color: white;
}

.navContent {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 0.5rem;
  flex-direction: column;
}

.placeholder {
  display: none;
  height: auto;
  width: 100%;
  flex-grow: 1;
  border-radius: 0.375rem;
  background-color: #f9fafb; /* Tailwind gray-50 */
}

.signOutButton {
  display: flex;
  height: 3rem;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background-color: #f9fafb;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signOutButton:hover {
  background-color: #e0f2fe; /* Tailwind sky-100 */
  color: #2563eb;
}

.powerIcon {
  width: 1.5rem;
}

.signOutText {
  display: none;
}

@media (min-width: 768px) {
  .sideNavContainer {
    padding: 1rem 0.5rem;
  }

  .logoLink {
    height: 10rem;
  }

  .logoContainer {
    width: 10rem;
  }

  .navContent {
    flex-direction: column;
    gap: 0;
  }

  .placeholder {
    display: block;
  }

  .signOutButton {
    justify-content: flex-start;
    padding: 0.5rem 0.75rem;
  }

  .signOutText {
    display: block;
  }
}